@use "../abstracts/" as *;
// --------------------------
// BUTTON
// --------------------------
.btn {
    background-color: $clr-primary;
    border: none;
    padding: 1rem 3.5rem;
    color: $clr-txt-secondary;
    cursor: pointer;
    border-radius: 25px;


    &--close {
        padding: .5rem;
        border: none;
        color: rgba(255, 255, 255, 0.85);
        background-color: transparent;
    }
}