@use "../abstracts/" as *;
// --------------------------
// DESTINATION DETAIL CARD
// --------------------------


.detail-card {
    height: 40rem;
    width: 27rem;
    background-color: aqua;
    border-radius: .5rem;
    background-color: $clr-bg-secondary;
    padding: $padding;

    &__header {
        display: flex;
        justify-content: center;
        border-bottom: solid 2px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: $margin;

        &-item {
            text-align: center;
            padding: $padding;
            background-color: $clr-bg-primary;
            border-radius: .5rem;
        }
    }
}
