$clr-primary: #DB7A4E;
$clr-txt-primary: #335576;
$clr-txt-secondary: #FFFFFF;

$clr-bg-primary:#FEFAF5;
$clr-bg-secondary:#FFFFFF;

$padding-sm: 1rem;
$padding: 2rem;
$padding-lg: 4rem;
$padding-xl: 6rem;

$margin-sm: 1rem;
$margin: 2rem;
$margin-lg: 4rem;
$margin-xl: 6rem;