@use "../abstracts/" as *;
// --------------------------
// FOOTER
// --------------------------
.footer {
    background-color: $clr-bg-primary;
    padding: $padding;

    &__content {
        padding: $padding;
    }


    &__column-item {
        margin: $margin 0;
        margin-right: $margin;

        &-sub {
            font-size: 1.4rem;
            color: #DB7A4E
        }

        &-detail {
            margin-top: $margin-sm;
        }
    }

}