@use "../abstracts/" as *;
// --------------------------
// GRID
// --------------------------
.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0 auto;
    max-width: 95rem;
    
    &--space-between {
        justify-content: space-between;
    }

    @include respond ("tab-port") {
        grid-template-columns: 1;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
    }
    
}