@use "../abstracts" as *;

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    max-width: 120rem;
    padding: 1rem;
    margin: 0 auto;

    &__list{
        display: flex;

        &-item-link {
            padding: 1rem;
            font-size: 1.3rem;
        }
    }
}