@use "./abstracts" as *;
@use "./base/" as *;
@use "./layout";



.section {
    &--color-tan{
        background-color: $clr-bg-primary;
    }
    &__container {
        max-width: 110rem;
        margin: $margin-lg auto;
        padding: $padding;
    }
}

// --------------------------
// HERO
// --------------------------

.hero {
    max-width: 110rem;
    height: 60vh;
    margin: 0 auto;
    padding: $padding;
    display: grid;
    grid-template-columns: 1fr .75fr;
    align-items: center;
    column-gap: 6rem;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }


    &__image {
        width: 100%;
    }
}


// --------------------------
// RECOMMENDATIONS
// --------------------------


.desination__card {
    &:nth-child(1) {
        background-image: url("../assets/Images/hawaii.jpg");
    }

    &:nth-child(2) {
        background-image: url("../assets/Images/iceland.jpg");

    }

    &:nth-child(3) {
        background-image: url("../assets/Images/greece.jpg");
    }

        display: inline-block;
        width: 30rem;
        min-height: 40rem;
        border-radius: 5px;
        background-color: aqua;
        position: relative;
        padding: $padding;
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(5px);

        &-title{
            padding: $padding;
            position: absolute;
            color: white;
            bottom: 0;
            right: 0;
        
}
}




// --------------------------
// FOOTER
// --------------------------
    .footer {
        background: $clr-bg-primary;
    }




// --------------------------
// COMPONENTS
// --------------------------

// BUTTON
.btn {
    background-color: $clr-primary;
    border: none;
    padding: 1rem 3.5rem;
    color: $clr-txt-secondary;
    cursor: pointer;
    border-radius: 25px;
}


// --------------------------
// TYPO
// --------------------------

h1 {
    font-size: 3.5rem;
    color: $clr-txt-primary;
}

h2 {
    font-size: 2.8rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 2.2rem;
    letter-spacing: .1rem;
}

p {
    font-size: 1.5rem;
    color: $clr-txt-primary;
}


// --------------------------
// HELPERS
// --------------------------

.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: $padding;
    justify-items: center;
}


.clr-txt-primary {
    color: $clr-txt-primary;
}